@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Young Serif";
  src: url(../fonts//YoungSerif-Regular.ttf);
}

body {
  background-color: #ffffff;
  color: #000000;
  font-family: Roboto, "Helvetica Neue", Helvetica;
  margin: 0;
}

.collapsible {
  background-color: #939393;
  color: white;
  cursor: pointer;
  padding: 3px 0px 3px 20px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 14px;
}

.active,
.collapsible:hover {
  background-color: #777;
}

.content {
  padding: 10px 20px;
  display: none;
  overflow: hidden;
  background-color: #ffc900;
  font-family: "Roboto", "Helvetica Neue", Helvetica;
  font-size: 12px;
}

h3 {
  font-family: "Young Serif";
  font-weight: bold;
}

a {
  color: #000000;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

#logo {
  position: static;
  height: 30px;
  padding: 0px;
  display: inline-block;
}

#lang {
  float: right;
}

#legend {
  position: relative;
}

#legend>button {
  display: flex;
  justify-content: left;
  align-items: center;
}

#legend>button>svg {
  height: 18px;
}

#body {
  position: relative;
  background-color: #f3f3f3;
}

#body>svg {
  background-color: #f3f3f3;
}

#text {
  position: relative;
  text-align: center;
  font-size: 14px;
  margin: 0 10% 0 10%;
}

#footer {
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  font-family: "Roboto", "Helvetica Neue", Helvetica;
  font-size: 14px;
  padding: 20px 0 15px 0;
  margin: 10px 0 0 0
}

#footer>svg {
  height: 40px;
}

.node {
  cursor: pointer;
}

.node circle {
  cursor: pointer;
  fill: #fff;
  stroke: #777;
  stroke-width: 1px;
}

.node text {
  font-size: 12px;
  fill: rgb(0, 0, 0);
}

path.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1px;
}

#cookie-consent-banner {
  font-family: "Roboto", "Helvetica Neue", Helvetica;
  font-size: 14px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f1f1f1;
  color: #333;
  text-align: center;
  padding: 10px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

#cookie-consent-banner button {
  background-color: #939393;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-left: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#cookie-consent-banner button:hover {
  background-color: #777;
}

#cookie-consent-banner h3 {
  margin-top: 0px;
}